body {
	background: #000;
	color: #fff;
	font: 14px/18px "Lucida Grande", Lucida, Verdana, sans-serif;
	text-align: center;
	margin: 0;
	min-width: 400px;
	-webkit-font-smoothing: antialiased;
}

a, a:visited {
	color: #fefefe;
	text-decoration: none;
}

a:hover {
	color: #e5e5e5;
	text-decoration: none;
}

a:active {
	color: #cbcbcb;
}

#backgroundContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	text-align: center;
	-webkit-transition: -webkit-filter 0.2s linear;
	background: url(wallpaper.jpg) no-repeat center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

#content {
	margin: auto;
	position: absolute;
	top: 50%;
	height: 500px;
	margin-top: -250px;
	width: 756px;
	left: 50%;
	margin-left: -378px;
}

.blur {
	-webkit-filter: blur(20px);
}

#main {
	background-color: rgba(255,255,255,.1);
	width: 320px;
	max-width: 320px;
	-webkit-transition: opacity 0.2s linear;
	margin: auto;
}

#appIcon {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -128px;
	cursor: pointer;
}

#appName {
	position: absolute;
	top: 238px;
	font-size: 48px;
	font-weight: normal;
	font-style: normal;
	text-shadow: #000 0 2px 4px;
	text-align: center;
	width: 320px;
}

#watchVideo {
	position: absolute;
	width: 134px;
	height: 34px;
	background: url(watchVideoButton.png) no-repeat 0 0;
	font-size: 14px;
	top: 326px;
	left: 50%;
	margin-left: -67px;
	padding-top: 12px;
	cursor: pointer;
}

#watchVideo:hover {
	background-position: 0 -46px;
}

#watchVideo:active {
	background-position: 0 -92px;
}

#video {
	position: relative;
	height: auto;
	display: none;
	width: auto;
	max-width: 728px;
	margin: auto;
	padding: 0 20px;
}

#videoSrc {
	width: 100%;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
	-webkit-box-shadow: 0px 28.5px 57px 0px #000;
	   -moz-box-shadow: 0px 28.5px 57px 0px #000;
			box-shadow: 0px 28.5px 57px 0px #000;
}

#description {
	margin: auto;
	width: 320px;
	font-size: 14px;
	text-shadow: #000 0 1px 0;
	position: absolute;
	bottom: 64px;
	left: 50%;
	margin-left: -160px;
}

#copyright {
	font-size: 11px;
	text-shadow: #000 0 1px 0;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
	#watchVideo {
		background-image: url(watchVideoButton-2x.png) center center;
		background-size: 134px 138px;
	}
}

