/* reset.css */
*{margin:0;padding:0;border:0;}
/*
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
*/

html {
	background: #000;
	-webkit-tap-highlight-color:transparent;
	color: #fff;
	font: 14px/18px "Lucida Grande", Lucida, Verdana, sans-serif;
}

body {
	text-align: center;
	min-width: 320px;
}

a, a:visited {
	color: #fefefe;
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 3px #000;
}

a:active {
	color: #cbcbcb;
}

#backgroundContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	text-align: center;
	-webkit-transition: -webkit-filter 0.3s linear;
	background: url(wallpaper.jpg) no-repeat center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	z-index: -1;
}

.blur {
	-webkit-filter: blur(20px);
}

#content {
//	background-color: rgba(255,0,0,.1);
	margin: auto;
	position: relative;
	margin: auto;
	top: 50%;
	height: 462px;
	margin-top: -231px;
	width: 100%;
	max-width: 756px;
}

#main {
//	background-color: rgba(255,255,255,.1);
	width: 320px;
	max-width: 320px;
	-webkit-transition: opacity .3s linear;
	position: relative;
	margin: auto;
	margin-top: -16px;
	text-align: center;
}

#appIcon, #appIconDup {
	cursor: pointer;
	margin: 16px 32px;
	width: 256px;
	height: 256px;
	display: block;
}

#appIconDup {
	position: absolute;
	top: 0;
}

#appName {
	margin-top: 20px;
	font-size: 48px;
	font-weight: normal;
	font-style: normal;
	text-shadow: 0 2px 4px rgba(0,0,0,0.75);
}

#appDescription {
	margin-top: 32px;
	font-size: 14px;
	text-shadow: 0 1px 1px #000;
}

/* Buttons */

#buttons {
	padding: 16px 0;
}

.button {
	background: url(buttonfill.png) repeat-x 0 0;
	color: #000;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	text-shadow: #fff 0 1px 1px;
	overflow: hidden;
	margin: 0 25px;
}

.button:before {
	content: "";
	background: url(buttonleft.png);
	cursor: pointer;
	height: 40px;
	width: 21px;
	position: absolute;
	margin-left: -21px;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

.button:after {
	content: "";
	background: url(buttonright.png);
	cursor: pointer;
	height: 40px;
	width: 21px;
	position: absolute;
	margin-right: -21px;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

.button:hover,
.button:hover:before,
.button:hover:after {
	background-position: 0 -40px;
}

.button:active,
.button:active:before,
.button:active:after {
	background-position: 0 -80px;
}

/* Video & Player */

#videoContainer {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: rgba(0,0,0,.75);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	-webkit-box-shadow: 0px 28.5px 57px 0px #000;
	   -moz-box-shadow: 0px 28.5px 57px 0px #000;
			box-shadow: 0px 28.5px 57px 0px #000;
	//		box-shadow: 0 1px 12px rgba(0,0,0,.75);

}

#video {
	-webkit-mask: url(mask.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgba(0,0,0,.75);
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	display: block;
	/* Needs multiple shadows to recreate OS X's shadows */
}

#copyright {
	font-size: 11px;
	text-shadow: 0 1px 1px #000;
	text-align: center;
	display: block;
	padding-bottom: 10px;
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
	.button {
		background-image: url(buttonfill-2x.png);
		background-size: 1px 120px;
	}
	.button:before {
		background-image: url(buttonleft-2x.png);
		background-size: 21px 120px;
	}
	.button:after {
		background-image: url(buttonright-2x.png);
		background-size: 21px 120px;
	}
}

